
{% extends "base.html" %}

{% block title %}
Dark soul -- bookmarks for sindar {{ user.username }}
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Bookmarks for {{ user.username }}</h1>

            {#
            <ul>
                {% for bm in user.bookmarks %}
                    <li>
                        <a href="{{ bm.url }}">{{ bm.url }}</a>
                        <span class="timestamp">Added at {{ bm.date }}</span>
                    </li>
                {% else %}
                    <li>This user has no bookmarks yet.</li>
                {% endfor %}
            </ul>
            #}
            {% if user.bookmarks.count() > 0 %}
                {% with bookmarks=user.bookmarks %}
                    {% include "bookmark_list.html" %}
                {% endwith %}
            {% else %}
                This user has no bookmarks yet.
            {% endif %}
        </header>
    </article>
{% endblock %}
