test {
    color: #c23531;
}

/* navbar switcher button style */
nav ._navbar_switcher a {
    /*box-shadow: none !important;*/
    border-radius: 1rem;
}
nav #_navbar_model_show_anchor {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
nav #_navbar_statistics_show_anchor {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

nav .dropdown-menu {
    min-width: 8rem;
}

/* _sidebar basic*/
._wrapper ._sidebar {
    max-width: 200px;
    height: calc(100vh - 4rem);
    overflow-y: auto;
    transition-duration: 1s;
}

/*sidebar collapse animation, toggled by sidebarToggleIcon in navbar*/
/*the transition-duration in $(._wrapper ._sidebar) also matters */
._wrapper._sidebar_collapse ._sidebar .list-group {
    transition-duration: 1s;
    transform: translateX(-200%);
}
._wrapper._sidebar_collapse ._sidebar {
    transform: translateX(-200%);
    flex: 0 0 0%;
}

/* _sidebar text color (in)active*/
._wrapper ._sidebar a {

    color: #999999;
}
._wrapper ._sidebar a:hover {
    color: #fff;
}
._wrapper ._sidebar ._inner{
    background: #000;
}
._wrapper ._sidebar ._inner:hover {
    background: #082f31;
}
._wrapper ._sidebar ._outer {
    background: #343a40;
}

/* _main area basic style */
._main {
    height: calc(100vh - 4rem);
    overflow-y: auto;
}




/*_visual card & btn style*/
._visual {
    height: calc(100vh - 5rem);
    overflow-y: auto;
}
._visual button {
    box-shadow: none !important;
}

._3d_model {
    min-width: 40rem;
    min-height: 40rem;
}

._model_or_form {
    min-width: 30rem;
    min-height: 30rem;
}

/*_echarts style*/
._echarts1 .carousel {
    min-height: 18rem !important;
    max-height: 35rem !important;
    min-width: 30rem !important;
}
._echarts2 .carousel {
    min-height: 18rem !important;
    max-height: 35rem !important;
    min-width: 30rem !important;
}