{% macro render_sidebar() %}
    <div class="list-group list-group-flush">
        <!-- outer list item 1 -->
        <a class="_outer list-group-item align-items-start pl-0" data-toggle="collapse" href="#innerListGroup1">
            <span class="align-top ml-2 mr-1"><i class="fas fa-cube fa-fw"></i></span><span class="align-top">&nbsp;传感器数据</span>
        </a>

        <!-- inner list group 1 begin-->
        <div class="list-group collapse" id="innerListGroup1">
            <a href="#" id="sidebar1.1" class="_inner _one list-group-item align-items-start pl-5">静力水准仪 1901</a>
            <a href="#" id="sidebar1.2" class="_inner _two list-group-item align-items-start pl-5">静力水准仪 1902</a>
            <a href="#" id="sidebar1.3" class="_inner _three list-group-item align-items-start pl-5">静力水准仪 1903</a>
            <a href="#" id="sidebar1.4" class="_inner _clino1 list-group-item align-items-start pl-5">测斜仪 1901</a>
            <a href="#" id="sidebar1.5" class="_inner _clino2 list-group-item align-items-start pl-5">测斜仪 1902</a>
            <a href="#" id="sidebar1.6" class="_inner _clino3 list-group-item align-items-start pl-5">测斜仪 1903</a>
            <a href="#" id="sidebar1.7" class="_inner _clino4 list-group-item align-items-start pl-5">测斜仪 1904</a>
            <a href="#" id="sidebar1.8" class="_inner _clino5 list-group-item align-items-start pl-5">测斜仪 1905</a>
        </div><!-- inner list group 1 end -->

        <!-- outer list item 2 -->
        <a class="_outer list-group-item align-items-start pl-0" data-toggle="collapse" href="#innerListGroup2">
            <span class="align-top ml-2 mr-1"><i class="fas fa-chart-bar fa-fw"></i></span><span class="align-top">&nbsp;分析数据展示</span>
        </a>

        <!-- inner list group 2 begin-->
        <div class="list-group list-group-flush collapse" id="innerListGroup2">
            <a href="#" class="_inner _warning_hydrolevel list-group-item align-items-start pl-5">警告数据 (静力水准仪)</a>
            <a href="#" class="_inner _warning_clinometer list-group-item align-items-start pl-5">警告数据 (测斜仪)</a>
            <a href="#" class="_inner list-group-item align-items-start pl-5">监控数据</a>
            <a href="#" class="_inner list-group-item align-items-start pl-5">数据分析</a>
        </div><!-- inner list group 2 end -->

        <!-- outer list item 3 -->
        <a class="_outer list-group-item align-items-start pl-0" href="#">
            <span class="align-top ml-2 mr-1"><i class="fas fa-glasses fa-fw"></i></span><span class="align-top">&nbsp;处理意见</span>
        </a>
        <!-- outer list item 4 -->
        <a class="_outer list-group-item align-items-start pl-0" data-toggle="collapse" href="#innerListGroup4">
            <span class="align-top ml-2 mr-1"><i class="fas fa-glasses fa-fw"></i></span><span class="align-top">&nbsp;监测报表</span>
        </a>
        <!-- inner list group 4 begin-->
        <div class="list-group list-group-flush collapse" id="innerListGroup4">
            <a href="#" class="_inner list-group-item align-items-start pl-5"
               data-toggle="modal" data-target="#reportModal">富源北路车站周边沉降监测报表(主断面)</a>
        </div>

        <!-- outer list item 5 -->
        <a class="_outer list-group-item align-items-start pl-0" href="#">
            <span class="align-top ml-2 mr-1"><i class="fas fa-glasses fa-fw"></i></span><span class="align-top">&nbsp;移动巡检</span>
        </a>
    </div><!-- list group end -->
{% endmacro %}

{% macro render_index_sidebar() %}
    <div class="list-group list-group-flush">
        <!-- outer list item 1 -->
        <a class="_outer list-group-item align-items-start pl-0" data-toggle="collapse" href="#innerListGroup1">
            <span class="align-top ml-2 mr-1"><i class="fas fa-cube fa-fw"></i></span><span class="align-top">&nbsp;项目选择</span>
        </a>

        <!-- inner list group 1 begin-->
        <div class="list-group collapse" id="innerListGroup1">
            <a href="{{url_for('home.main')}}" id="sidebar1.1" class="_inner _one list-group-item align-items-start pl-5">贵阳地铁2号线富源北路基坑观测</a>
        </div><!-- inner list group 1 end -->
    </div><!-- list group end -->
{% endmacro %}